{% extends "blog/base.html" %}

{% block content %}

<h2 style="color: #fafafa">Apartado Legal</h2>
<main role="main" class="container">
    <div class="row">
      <div class="col-md-29">
        
     
  <article class="media content-section">
    <div class="media-body" >
      <div class="article-metadata">
        <a class="text">Tus derechos como paciente de diabetes</a>
        
      </div>
      <h3><a class="article-title">Ley N° 19798</a></h3>
      <p class="article-content">Fijacion de medidas para mejorar las actividades de control y tratamiento de la diabetes y otras enfermedades no transmisibles y derogacion de la ley 14.032.</p>
      <p>Promulgación: 13/09/2019 - Publicación: 25/09/2019</p>
<ul>
<li><strong>Artículo 1:</strong>
Establécense en el Sistema Nacional Integrado de Salud las medidas destinadas a la mejora de las actividades de control y 
tratamiento de las Enfermedades No Trasmisibles, el acceso al cuidado y a la atención integral de la población de acuerdo a lo que establezca la reglamentación en cada caso, en el marco de lo dispuesto por el artículo 45 de la Ley N° 18.211, de 5 de diciembre de 2007 y el artículo 10 de la Ley N° 18.335, de 15 de agosto de 2008, con énfasis en las personas que padecen diabetes.
</li>
<br><br>
<li><strong>Artículo 2:</strong>
Corresponde a los prestadores integrales del Sistema Nacional Integrado de Salud la captación, educación, el tratamiento 
y el control sanitario de la diabetes y otras enfermedades no trasmisibles. Entre las actividades definidas para el abordaje integral de las personas en el primer nivel de atención establecido en el artículo 35 de la Ley N° 18.211, de 5 de diciembre de 2007 desarrollarán las actividades de promoción en salud, prevención de factores de riesgo, diagnóstico gratuito, atención, tratamiento y la derivación a niveles de atención de mayor complejidad de la diabetes y demás enfermedades no trasmisibles de corresponder.
</li>
<br><br>
<li><strong>Artículo 3:</strong>
Los prestadores integrales de salud deberán asegurar la continuidad, la calidad y actualización continua del proceso asistencial, 
contando con la Historia Clínica Electrónica Nacional (HCEN), como instrumento de control de la calidad de dicho proceso asistencial. Para ello deberán contar con equipos interdisciplinarios que permitan abordar integralmente la salud de las personas con diabetes y demás enfermedades no trasmisibles.
</li>
<br><br>
<li><strong>Artículo 4:</strong>
Las personas con diabetes en situación de vulnerabilidad social y económica accederán a una alimentación saludable a través del Instituto 
Nacional de Alimentación.
</li>
<br><br>
<li><strong>Artículo 5:</strong>
Corresponde al Ministerio de Salud Pública, a través de sus áreas técnicas y programáticas, con la participación de los movimientos de usuarios, 
las sociedades científicas y las instituciones académicas, elaborar y actualizar en forma permanente las políticas de salud e investigación orientadas a las 
personas con enfermedades crónicas no trasmisibles. A estos efectos se constituirá la Comisión Honoraria de Enfermedades Crónicas No Trasmisibles integrada 
por miembros de los grupos antedichos, además de miembros representantes de la Unidad Nacional de Seguridad y Educación Vial del Uruguay, de la Comisión Honoraria de Salud Cardiovascular, 
de la Comisión Honoraria de Lucha contra el Cáncer y de la Comisión Nacional de Contralor de la Atención en Salud Mental, que funcionará en el ámbito del Ministerio de Salud Pública.
</li>
<br><br>
<li><strong>Artículo 6:</strong>
La diabetes no constituirá por sí sola causal de inhabilitación para el ingreso o desempeño de actividad laboral o educativa alguna en el ámbito público o 
privado, como para el desempeño de actividades deportivas; sin perjuicio de la obtención de la documentación habilitante para el desarrollo de actividades laborales o 
deportivas de conformidad con la normativa vigente, debiendo ser esta emitida por el médico tratante integrante del equipo de salud, estableciendo si existe riesgo laboral 
por la tarea a desempeñar que afecte la salud del trabajador o de terceros, así como la aptitud laboral para el desempeño de la misma.
</li>
<br><br>
<li><strong>Artículo 7:</strong>
Se deberá permitir a las personas con diabetes, atender durante la jornada de trabajo, estudio o deporte, sus necesidades alimentarias, de control o administración de medicación, 
de acuerdo a las indicaciones del médico de referencia, médico tratante o del médico del servicio de salud laboral del lugar donde se desempeña.
</li>
<br><br>
<li><strong>Artículo 8:</strong>
El Instituto Nacional de Rehabilitación implementará las medidas apropiadas para que las personas con diabetes, privadas de libertad, reciban educación sobre su patología, 
así como los elementos necesarios para el tratamiento y autocontrol de la misma, además de brindarles una alimentación adecuada teniendo en cuenta lo indicado por el equipo de salud.
</li>
<br><br>
<li><strong>Artículo 9:</strong>
Derógase la Ley N° 14.032, de 8 de octubre de 1971, así como cualquier otra norma que se oponga a lo dispuesto en los artículos anteriores.
</li>
<br><br>
<li><strong>Artículo 10:</strong>
El Poder Ejecutivo reglamentará la presente ley en el plazo de ciento ochenta días.
</li>
<br><br>
</ul>
<h5>La Ley en tu lenguaje</h5>
<p>Una forma fácil y práctica de comprender las leyes.</p>
<ol>
<p><strong>Ley N° 19.798 de 13/09/2019:</strong></p>
<p>Dicha ley establece, dentro del Sistema Nacional Integrado de Salud, medidas para mejorar el control y tratamiento de las Enfermedades No Trasmisibles, el acceso al cuidado 
y a la atención de la población, especialmente en personas con diabetes.</p>

<lp><strong>¿Qué obligaciones se ponen a cargo de los prestadores de servicios de salud?</strong></p>
<p>Los prestadores públicos y privados del Sistema Nacional Integrado de Salud deberán:
    Educar, brindar tratamiento y realizar el control sanitario de la diabetes y otras enfermedades no trasmisibles;
    Establecer actividades de promoción en salud, prevención en factores de riesgo, diagnóstico gratuito, atención y tratamiento.</p>

<p><strong>¿Quién asegura la continuidad del proceso de asistencia?</strong></p>
<p>Los prestadores integrales de salud están obligados a asegurar la continuidad, calidad y actualización de la asistencia mediante equipos interdisciplinarios que se ocupen en forma 
integral de la salud de las personas con diabetes y demás enfermedades no trasmisibles.</p>

<p><strong>¿Tienen alguna ayuda las personas con diabetes?</strong></p>
<p>Si, aquellas personas con diabetes que se encuentran en situación de vulnerabilidad social y económica acceden a una alimentación saludable del Instituto Nacional de Alimentación.</p>

<p><strong>¿Quién es el encargado de actualizar las políticas de salud e investigación?</strong></p>
<p>El Ministerio de Salud Pública con la participación de usuarios,  sociedades científicas, instituciones académicas y otros organismos, creándose la Comisión Honoraria de Enfermedades Crónicas no Trasmisibles.</p>

<p><strong>¿Existe algún impedimento laboral para las personas con diabetes?</strong></p>
<p>No, la persona con diabetes no se encuentra inhabilitada para el ingreso o desempeño de ninguna actividad laboral, educativa o deportiva ya sea pública o privada.

    Deberá obtener la documentación que la habilita para la actividad laboral o deportiva emitida por el médico tratante, quien determinará si existe riesgo laboral por la tarea, así como su aptitud laboral para realizarla.</p>

<p><strong>¿Tienen algún permiso especial durante su actividad?</strong></p>
<p>Podrán alimentarse, controlarse y tomar su medicación de acuerdo a las indicaciones del médico de referencia (tratante o del lugar donde trabaja).</p>

<p><strong>¿Y qué pasa con las personas privadas de libertad?</strong></p>
<p>El Instituto Nacional de Rehabilitación se encargará de darles educación sobre su enfermedad, alimentación adecuada así como los elementos necesarios para su tratamiento y autocontrol.</p>
</ol>
      </div>
  </article> 
</main>
{% endblock content %}
